# ignore files for git
.gitattributes

Thumbs.db
.DS_Store
*.log
fan.props
xeto.props

# lib/
/lib/

# doc/
/doc/
/doc-xeto/

# var/
/var/

# temp
/tmp/
/temp/

# intellij
.idea/
*.iml

# python
venv/
__pycache__/

# npm
npm/

# docker bind-mount
/dbs/

