# ignore files for git
.gitattributes

Thumbs.db
.DS_Store
*.log
*.class
*.jar
fan.props
xeto.props

# lib/
/lib/

# doc/
/doc/
/doc-xeto/

# gen
/gen/

# rdf/
/rdf-*/

# src/
/src/xeto/fan.*/

# var/
/var*/

# temp
/tmp/
/temp/

# intellij
.idea/
*.iml

# python
venv/
__pycache__/

# npm
npm/

# docker bind-mount
/dbs/

# env variables
*.env
