{{header}}

--------------------------------------------------------------------------
def: ^{{defName}}Conn
is: ^conn
connFeatures: {{connFeatures}}
doc: "{{typePrefix}} connector"
--------------------------------------------------------------------------
defx: ^uri
tagOn: ^{{defName}}Conn
--------------------------------------------------------------------------
defx: ^username
tagOn: ^{{defName}}Conn
--------------------------------------------------------------------------
defx: ^password
tagOn: ^{{defName}}Conn
--------------------------------------------------------------------------

