{{header}}

using xeto
using haystack
using hx
using axon

class {{typePrefix}}Funcs
{
  ** Convenience to get the current `Context`
  private static Context curCx() { Context.cur }

  ** Convenience to lookup {{typePrefix}}Ext in the given `Context`
  private static {{typePrefix}}Ext ext(Context cx := curCx) { cx.ext("{{xetoLib}}") }

  @Api @Axon
  static Str {{funcPrefix}}Fantom()
  {
    "Hello world in Fantom!"
  }
}