{{header}}

--------------------------------------------------------------------------
def: ^func:{{defName}}Axon
src:
  () => "hello world from Axon!"
--------------------------------------------------------------------------