{{header}}

--------------------------------------------------------------------------
def: ^lib:{{defName}}
depends: [{{depends}}]
doc: "{{libName}} library"
{{typeName}}
--------------------------------------------------------------------------