**************************************************************************
** title:      {{typePrefix}}Lib
** author:     {{author}}
** created:    {{date}}
** copyright:  Copyright (c) {{year}}, {{org}}
** license:    {{license}}
**************************************************************************

Overview [#overview]
********************
TODO: documentation for the {{defName}} library.